.loader{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: .5rem solid white;
    border-top: .5rem solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
