.folder{
    border-radius: 12px;
    height: 8rem;
    width: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    gap: .5rem;
    cursor: pointer;
}