.modalContainer{
    position: fixed;
    z-index: 1;
    background-color: var(--loader-bg);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

}

.modal{
    position: relative;
    margin: auto;
    top: 8rem;
    background-color: white;
    padding: 1rem;
    /* padding-bottom: 2rem; */
    border-radius: 12px;
    width: 40rem;
}

.content{
    padding: 1rem;
    max-height: 32rem;
    overflow-y: scroll;
}

.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
}
