.background{
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;

}

.main{
  border-radius: 12px 0 0 0;
  background-color: white;
  width: 100%;
  height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}