.background{
  background-color: var(--bg);
  /* width: 100vw; */
  height: 100vh;

}

.main{
  border-radius: 12px;
  background-color: white;
  width: 100%;
  height: fit-content;
  min-height: 40rem;
  padding: 1rem;
}